.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  .tab {
    margin: 10px;
    display: flex;
    flex-direction: column;

    h1 {
      font-size: x-large;
      color: white;
      height: 5vh;
      width: 6vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .content{
    text-align: center;
  }
}

.single{
    height: 100vh;
}
